*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   
.input-container button{
    background-color: rgb(42, 193, 42);
    margin-left: 10px;
    padding: 8px;
}

.todo-list button{
    background-color: red;
}

.input-container input{
    padding: 8px;
    margin-top: 10px;
}

.heading{
    text-align: center;
}

.input-container{
    margin-left: 690px; 
}





